<h2>{{titulo}}</h2>
<ul>
  <li *ngFor="let zapatilla of zapatillas">
      {{zapatilla.nombre}} - <strong>{{zapatilla.precio}} </strong>
      <span *ngIf="zapatilla.precio<80"
        [style.background]="zapatilla.precio<80 ? 'green':'transparent'"
        [style.color]="zapatilla.precio<80 ? 'white':'black'"
      >¡ EN OFERTA !</span>
  </li>
</ul>


<p>El color de la mayoria de nuestras zapatillas es:</p>
<ul [ngSwitch]="color" >
    <li *ngSwitchCase="'yellow'" >El color predominante es el <span style="background: yellow;">amarillo</span>.</li>
    <li *ngSwitchCase="'red'" >El color predominante es el <span style="background: red;">rojo</span>.</li>
    <li *ngSwitchCase="'blue'" >El color predominante es el <span  style="background: blue;">azul</span>.</li>
    <li *ngSwitchCase="'orange'" >El color predominante es el <span  style="background: orange;">naranja</span>.</li>

</ul>
